In [1]:
from IPython.display import Image
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

# warnaing 무시
warnings.filterwarnings('ignore')

# e notation 표현 방식 변경
pd.options.display.float_format = '{:.2f}'.format

# 모든 칼럼 표시
pd.set_option('display.max_rows', None)

In [2]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.10,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df1 = df.copy()

In [4]:
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.00,1,0,53.10,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.00,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df1['VIP'] = True

In [6]:
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,0,53.10,S,First,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True

In [7]:
df1.insert(5, 'RICH', df1['fare'] > 100)

In [8]:
df1.head()

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,False,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,False,0,53.10,S,First,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True

In [9]:
df1.drop(1)

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,False,0,53.10,S,First,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
5,0,3,male,NaN,0,False,0,8.46,Q,Third,man,True,NaN,Queenstown,no,True,True
6,0,1,male,54.00,0,False,0,51.86,S,First,man,True,E,Southampton,no,True,True
7,0,3,male,2.00,3,False,1,21.07,S,Third,child,False,NaN,Southampton,no,False,True
8,1,3,female,27.00,0,False,2,11.13,S,Third,woman,False,NaN,Southampton,yes,False,True
9,1,2,female,14.00,1,False,0,30.07,C,Second,child,False,NaN,Cherbourg,yes,False,True
10,1,3,female,4.00,1,False,1,16.70,S,Third,child,False,G,Southampton,yes,False,True
11,1,1,female,58.00,0,False,0,26.55,S,First,woman,False,C,Southampton,yes,True,True
12,0,3,male,20.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
13,0,3,male,39.00,1,False,5,31.27,S,Third,man,True,NaN,Southampton,no,False,True
14,0,3,female,14.00,0,False,0,7.85,S,Third,child,False,NaN,Southampton,no,True,True
15,1,2,female,55.00,0,False,0,16.00,S,Second,woman,False,NaN,Southampton,yes,True,True
16,0,3,male,2.00,4,False,1,29.12,Q,Third,child,False,NaN,Queenstown,no,False,True
17,1,2,male,NaN,0,False,0,13.00,S,Second,man,True,NaN,Southampton,yes,True,True
18,0,3,female,31.00,1,False,0,18.00,S,Third,woman,False,NaN,Southampton,no,False,True
19,1,3,female,NaN,0,False,0,7.22,C,Third,woman,False,NaN,Cherbourg,yes,True,True
20,0,2,male,35.00,0,False,0,26.00,S,Second,man,True,NaN,Southampton,no,True,True
21,1,2,male,34.00,0,False,0,13.00,S,Second,man,True,D,Southampton,yes,True,True
22,1,3,female,15.00,0,False,0,8.03,Q,Third,child,False,NaN,Queenstown,yes,True,True
23,1,1,male,28.00,0,False,0,35.50,S,First,man,True,A,Southampton,yes,True,True
24,0,3,female,8.00,3,False,1,21.07,S,Third,child,False,NaN,Southampton,no,False,True
25,1,3,female,38.00,1,False,5,31.39,S,Third,woman,False,NaN,Southampton,yes,False,True
26,0,3,male,NaN,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
27,0,1,male,19.00,3,True,2,263.00,S,First,man,True,C,Southampton,no,False,True
28,1,3,female,NaN,0,False,0,7.88,Q,Third,woman,False,NaN,Queenstown,yes,True,True
29,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
30,0,1,male,40.00,0,False,0,27.72,C,First,man,True,NaN,Cherbourg,no,True,True
31,1,1,female,NaN,1,True,0,146.52,C,First,woman,False,B,Cherbourg,yes,False,True
32,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
33,0,2,male,66.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
34,0,1,male,28.00,1,False,0,82.17,C,First,man,True,NaN,Cherbourg,no,False,True
35,0,1,male,42.00,1,False,0,52.00,S,First,man,True,NaN,Southampton,no,False,True
36,1,3,male,NaN,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,yes,True,True
37,0,3,male,21.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
38,0,3,female,18.00,2,False,0,18.00,S,Third,woman,False,NaN,Southampton,no,False,True
39,1,3,female,14.00,1,False,0,11.24,C,Third,child,False,NaN,Cherbourg,yes,False,True
40,0,3,female,40.00,1,False,0,9.47,S,Third,woman,False,NaN,Southampton,no,False,True
41,0,2,female,27.00,1,False,0,21.00,S,Second,woman,False,NaN,Southampton,no,False,True
42,0,3,male,NaN,0,False,0,7.90,C,Third,man,True,NaN,Cherbourg,no,True,True
43,1,2,female,3.00,1,False,2,41.58,C,Second,child,False,NaN,Cherbourg,yes,False,True
44,1,3,female,19.00,0,False,0,7.88,Q,Third,woman,False,NaN,Queenstown,yes,True,True
45,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
46,0,3,male,NaN,1,False,0,15.50,Q,Third,man,True,NaN,Queenstown,no,False,True
47,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
48,0,3,male,NaN,2,False,0,21.68,C,Third,man,True,NaN,Cherbourg,no,False,True
49,0,3,female,18.00,1,False,0,17.80,S,Third,woman,False,NaN,Southampton,no,False,True
50,0,3,male,7.00,4,False,1,39.69,S,Third,child,False,NaN,Southampton,no,False,True
51,0,3,male,21.00,0,False,0,7.80,S,Third,man,True,NaN,Southampton,no,True,True
52,1,1,female,49.00,1,False,0,76.73,C,First,woman,False,D,Cherbourg,yes,False,True
53,1,2,female,29.00,1,False,0,26.00,S,Second,woman,False,NaN,Southampton,yes,False,True
54,0,1,male,65.00,0,False,1,61.98,C,First,man,True,B,Cherbourg,no,False,True
55,1,1,male,NaN,0,False,0,35.50,S,First,man,True,C,Southampton,yes,True,True
56,1,2,female,21.00,0,False,0,10.50,S,Second,woman,False,NaN,Southampton,yes,True,True
57,0,3,male,28.50,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,no,True,True
58,1,2,female,5.00,1,False,2,27.75,S,Second,child,False,NaN,Southampton,yes,False,True
59,0,3,male,11.00,5,False,2,46.90,S,Third,child,False,NaN,Southampton,no,False,True
60,0,3,male,22.00,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,no,True,True
61,1,1,female,38.00,0,False,0,80.00,NaN,First,woman,False,B,NaN,yes,True,True
62,0,1,male,45.00,1,False,0,83.47,S,First,man,True,C,Southampton,no,False,True
63,0,3,male,4.00,3,False,2,27.90,S,Third,child,False,NaN,Southampton,no,False,True
64,0,1,male,NaN,0,False,0,27.72,C,First,man,True,NaN,Cherbourg,no,True,True
65,1,3,male,NaN,1,False,1,15.25,C,Third,man,True,NaN,Cherbourg,yes,False,True
66,1,2,female,29.00,0,False,0,10.50,S,Second,woman,False,F,Southampton,yes,True,True
67,0,3,male,19.00,0,False,0,8.16,S,Third,man,True,NaN,Southampton,no,True,True
68,1,3,female,17.00,4,False,2,7.92,S,Third,woman,False,NaN,Southampton,yes,False,True
69,0,3,male,26.00,2,False,0,8.66,S,Third,man,True,NaN,Southampton,no,False,True
70,0,2,male,32.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
71,0,3,female,16.00,5,False,2,46.90,S,Third,woman,False,NaN,Southampton,no,False,True
72,0,2,male,21.00,0,False,0,73.50,S,Second,man,True,NaN,Southampton,no,True,True
73,0,3,male,26.00,1,False,0,14.45,C,Third,man,True,NaN,Cherbourg,no,False,True
74,1,3,male,32.00,0,False,0,56.50,S,Third,man,True,NaN,Southampton,yes,True,True
75,0,3,male,25.00,0,False,0,7.65,S,Third,man,True,F,Southampton,no,True,True
76,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
77,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
78,1,2,male,0.83,0,False,2,29.00,S,Second,child,False,NaN,Southampton,yes,False,True
79,1,3,female,30.00,0,False,0,12.47,S,Third,woman,False,NaN,Southampton,yes,True,True
80,0,3,male,22.00,0,False,0,9.00,S,Third,man,True,NaN,Southampton,no,True,True
81,1,3,male,29.00,0,False,0,9.50,S,Third,man,True,NaN,Southampton,yes,True,True
82,1,3,female,NaN,0,False,0,7.79,Q,Third,woman,False,NaN,Queenstown,yes,True,True
83,0,1,male,28.00,0,False,0,47.10,S,First,man,True,NaN,Southampton,no,True,True
84,1,2,female,17.00,0,False,0,10.50,S,Second,woman,False,NaN,Southampton,yes,True,True
85,1,3,female,33.00,3,False,0,15.85,S,Third,woman,False,NaN,Southampton,yes,False,True
86,0,3,male,16.00,1,False,3,34.38,S,Third,man,True,NaN,Southampton,no,False,True
87,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
88,1,1,female,23.00,3,True,2,263.00,S,First,woman,False,C,Southampton,yes,False,True
89,0,3,male,24.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
90,0,3,male,29.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
91,0,3,male,20.00,0,False,0,7.85,S,Third,man,True,NaN,Southampton,no,True,True
92,0,1,male,46.00,1,False,0,61.17,S,First,man,True,E,Southampton,no,False,True
93,0,3,male,26.00,1,False,2,20.57,S,Third,man,True,NaN,Southampton,no,False,True
94,0,3,male,59.00,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
95,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
96,0,1,male,71.00,0,False,0,34.65,C,First,man,True,A,Cherbourg,no,True,True
97,1,1,male,23.00,0,False,1,63.36,C,First,man,True,D,Cherbourg,yes,False,True
98,1,2,female,34.00,0,False,1,23.00,S,Second,woman,False,NaN,Southampton,yes,False,True
99,0,2,male,34.00,1,False,0,26.00,S,Second,man,True,NaN,Southampton,no,False,True
100,0,3,female,28.00,0,False,0,7.90,S,Third,woman,False,NaN,Southampton,no,True,True
101,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
102,0,1,male,21.00,0,False,1,77.29,S,First,man,True,D,Southampton,no,False,True
103,0,3,male,33.00,0,False,0,8.65,S,Third,man,True,NaN,Southampton,no,True,True
104,0,3,male,37.00,2,False,0,7.92,S,Third,man,True,NaN,Southampton,no,False,True
105,0,3,male,28.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
106,1,3,female,21.00,0,False,0,7.65,S,Third,woman,False,NaN,Southampton,yes,True,True
107,1,3,male,NaN,0,False,0,7.78,S,Third,man,True,NaN,Southampton,yes,True,True
108,0,3,male,38.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
109,1,3,female,NaN,1,False,0,24.15,Q,Third,woman,False,NaN,Queenstown,yes,False,True
110,0,1,male,47.00,0,False,0,52.00,S,First,man,True,C,Southampton,no,True,True
111,0,3,female,14.50,1,False,0,14.45,C,Third,child,False,NaN,Cherbourg,no,False,True
112,0,3,male,22.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
113,0,3,female,20.00,1,False,0,9.82,S,Third,woman,False,NaN,Southampton,no,False,True
114,0,3,female,17.00,0,False,0,14.46,C,Third,woman,False,NaN,Cherbourg,no,True,True
115,0,3,male,21.00,0,False,0,7.92,S,Third,man,True,NaN,Southampton,no,True,True
116,0,3,male,70.50,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
117,0,2,male,29.00,1,False,0,21.00,S,Second,man,True,NaN,Southampton,no,False,True
118,0,1,male,24.00,0,True,1,247.52,C,First,man,True,B,Cherbourg,no,False,True
119,0,3,female,2.00,4,False,2,31.27,S,Third,child,False,NaN,Southampton,no,False,True
120,0,2,male,21.00,2,False,0,73.50,S,Second,man,True,NaN,Southampton,no,False,True
121,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
122,0,2,male,32.50,1,False,0,30.07,C,Second,man,True,NaN,Cherbourg,no,False,True
123,1,2,female,32.50,0,False,0,13.00,S,Second,woman,False,E,Southampton,yes,True,True
124,0,1,male,54.00,0,False,1,77.29,S,First,man,True,D,Southampton,no,False,True
125,1,3,male,12.00,1,False,0,11.24,C,Third,child,False,NaN,Cherbourg,yes,False,True
126,0,3,male,NaN,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
127,1,3,male,24.00,0,False,0,7.14,S,Third,man,True,NaN,Southampton,yes,True,True
128,1,3,female,NaN,1,False,1,22.36,C,Third,woman,False,F,Cherbourg,yes,False,True
129,0,3,male,45.00,0,False,0,6.97,S,Third,man,True,NaN,Southampton,no,True,True
130,0,3,male,33.00,0,False,0,7.90,C,Third,man,True,NaN,Cherbourg,no,True,True
131,0,3,male,20.00,0,False,0,7.05,S,Third,man,True,NaN,Southampton,no,True,True
132,0,3,female,47.00,1,False,0,14.50,S,Third,woman,False,NaN,Southampton,no,False,True
133,1,2,female,29.00,1,False,0,26.00,S,Second,woman,False,NaN,Southampton,yes,False,True
134,0,2,male,25.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
135,0,2,male,23.00,0,False,0,15.05,C,Second,man,True,NaN,Cherbourg,no,True,True
136,1,1,female,19.00,0,False,2,26.28,S,First,woman,False,D,Southampton,yes,False,True
137,0,1,male,37.00,1,False,0,53.10,S,First,man,True,C,Southampton,no,False,True
138,0,3,male,16.00,0,False,0,9.22,S,Third,man,True,NaN,Southampton,no,True,True
139,0,1,male,24.00,0,False,0,79.20,C,First,man,True,B,Cherbourg,no,True,True
140,0,3,female,NaN,0,False,2,15.25,C,Third,woman,False,NaN,Cherbourg,no,False,True
141,1,3,female,22.00,0,False,0,7.75,S,Third,woman,False,NaN,Southampton,yes,True,True
142,1,3,female,24.00,1,False,0,15.85,S,Third,woman,False,NaN,Southampton,yes,False,True
143,0,3,male,19.00,0,False,0,6.75,Q,Third,man,True,NaN,Queenstown,no,True,True
144,0,2,male,18.00,0,False,0,11.50,S,Second,man,True,NaN,Southampton,no,True,True
145,0,2,male,19.00,1,False,1,36.75,S,Second,man,True,NaN,Southampton,no,False,True
146,1,3,male,27.00,0,False,0,7.80,S,Third,man,True,NaN,Southampton,yes,True,True
147,0,3,female,9.00,2,False,2,34.38,S,Third,child,False,NaN,Southampton,no,False,True
148,0,2,male,36.50,0,False,2,26.00,S,Second,man,True,F,Southampton,no,False,True
149,0,2,male,42.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
150,0,2,male,51.00,0,False,0,12.53,S,Second,man,True,NaN,Southampton,no,True,True
151,1,1,female,22.00,1,False,0,66.60,S,First,woman,False,C,Southampton,yes,False,True
152,0,3,male,55.50,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
153,0,3,male,40.50,0,False,2,14.50,S,Third,man,True,NaN,Southampton,no,False,True
154,0,3,male,NaN,0,False,0,7.31,S,Third,man,True,NaN,Southampton,no,True,True
155,0,1,male,51.00,0,False,1,61.38,C,First,man,True,NaN,Cherbourg,no,False,True
156,1,3,female,16.00,0,False,0,7.73,Q,Third,woman,False,NaN,Queenstown,yes,True,True
157,0,3,male,30.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
158,0,3,male,NaN,0,False,0,8.66,S,Third,man,True,NaN,Southampton,no,True,True
159,0,3,male,NaN,8,False,2,69.55,S,Third,man,True,NaN,Southampton,no,False,True
160,0,3,male,44.00,0,False,1,16.10,S,Third,man,True,NaN,Southampton,no,False,True
161,1,2,female,40.00,0,False,0,15.75,S,Second,woman,False,NaN,Southampton,yes,True,True
162,0,3,male,26.00,0,False,0,7.78,S,Third,man,True,NaN,Southampton,no,True,True
163,0,3,male,17.00,0,False,0,8.66,S,Third,man,True,NaN,Southampton,no,True,True
164,0,3,male,1.00,4,False,1,39.69,S,Third,child,False,NaN,Southampton,no,False,True
165,1,3,male,9.00,0,False,2,20.52,S,Third,child,False,NaN,Southampton,yes,False,True
166,1,1,female,NaN,0,False,1,55.00,S,First,woman,False,E,Southampton,yes,False,True
167,0,3,female,45.00,1,False,4,27.90,S,Third,woman,False,NaN,Southampton,no,False,True
168,0,1,male,NaN,0,False,0,25.93,S,First,man,True,NaN,Southampton,no,True,True
169,0,3,male,28.00,0,False,0,56.50,S,Third,man,True,NaN,Southampton,no,True,True
170,0,1,male,61.00,0,False,0,33.50,S,First,man,True,B,Southampton,no,True,True
171,0,3,male,4.00,4,False,1,29.12,Q,Third,child,False,NaN,Queenstown,no,False,True
172,1,3,female,1.00,1,False,1,11.13,S,Third,child,False,NaN,Southampton,yes,False,True
173,0,3,male,21.00,0,False,0,7.92,S,Third,man,True,NaN,Southampton,no,True,True
174,0,1,male,56.00,0,False,0,30.70,C,First,man,True,A,Cherbourg,no,True,True
175,0,3,male,18.00,1,False,1,7.85,S,Third,man,True,NaN,Southampton,no,False,True
176,0,3,male,NaN,3,False,1,25.47,S,Third,man,True,NaN,Southampton,no,False,True
177,0,1,female,50.00,0,False,0,28.71,C,First,woman,False,C,Cherbourg,no,True,True
178,0,2,male,30.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
179,0,3,male,36.00,0,False,0,0.00,S,Third,man,True,NaN,Southampton,no,True,True
180,0,3,female,NaN,8,False,2,69.55,S,Third,woman,False,NaN,Southampton,no,False,True
181,0,2,male,NaN,0,False,0,15.05,C,Second,man,True,NaN,Cherbourg,no,True,True
182,0,3,male,9.00,4,False,2,31.39,S,Third,child,False,NaN,Southampton,no,False,True
183,1,2,male,1.00,2,False,1,39.00,S,Second,child,False,F,Southampton,yes,False,True
184,1,3,female,4.00,0,False,2,22.02,S,Third,child,False,NaN,Southampton,yes,False,True
185,0,1,male,NaN,0,False,0,50.00,S,First,man,True,A,Southampton,no,True,True
186,1,3,female,NaN,1,False,0,15.50,Q,Third,woman,False,NaN,Queenstown,yes,False,True
187,1,1,male,45.00,0,False,0,26.55,S,First,man,True,NaN,Southampton,yes,True,True
188,0,3,male,40.00,1,False,1,15.50,Q,Third,man,True,NaN,Queenstown,no,False,True
189,0,3,male,36.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
190,1,2,female,32.00,0,False,0,13.00,S,Second,woman,False,NaN,Southampton,yes,True,True
191,0,2,male,19.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
192,1,3,female,19.00,1,False,0,7.85,S,Third,woman,False,NaN,Southampton,yes,False,True
193,1,2,male,3.00,1,False,1,26.00,S,Second,child,False,F,Southampton,yes,False,True
194,1,1,female,44.00,0,False,0,27.72,C,First,woman,False,B,Cherbourg,yes,True,True
195,1,1,female,58.00,0,True,0,146.52,C,First,woman,False,B,Cherbourg,yes,True,True
196,0,3,male,NaN,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
197,0,3,male,42.00,0,False,1,8.40,S,Third,man,True,NaN,Southampton,no,False,True
198,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
199,0,2,female,24.00,0,False,0,13.00,S,Second,woman,False,NaN,Southampton,no,True,True
200,0,3,male,28.00,0,False,0,9.50,S,Third,man,True,NaN,Southampton,no,True,True
201,0,3,male,NaN,8,False,2,69.55,S,Third,man,True,NaN,Southampton,no,False,True
202,0,3,male,34.00,0,False,0,6.50,S,Third,man,True,NaN,Southampton,no,True,True
203,0,3,male,45.50,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
204,1,3,male,18.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,yes,True,True
205,0,3,female,2.00,0,False,1,10.46,S,Third,child,False,G,Southampton,no,False,True
206,0,3,male,32.00,1,False,0,15.85,S,Third,man,True,NaN,Southampton,no,False,True
207,1,3,male,26.00,0,False,0,18.79,C,Third,man,True,NaN,Cherbourg,yes,True,True
208,1,3,female,16.00,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
209,1,1,male,40.00,0,False,0,31.00,C,First,man,True,A,Cherbourg,yes,True,True
210,0,3,male,24.00,0,False,0,7.05,S,Third,man,True,NaN,Southampton,no,True,True
211,1,2,female,35.00,0,False,0,21.00,S,Second,woman,False,NaN,Southampton,yes,True,True
212,0,3,male,22.00,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
213,0,2,male,30.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
214,0,3,male,NaN,1,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,False,True
215,1,1,female,31.00,1,True,0,113.28,C,First,woman,False,D,Cherbourg,yes,False,True
216,1,3,female,27.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
217,0,2,male,42.00,1,False,0,27.00,S,Second,man,True,NaN,Southampton,no,False,True
218,1,1,female,32.00,0,False,0,76.29,C,First,woman,False,D,Cherbourg,yes,True,True
219,0,2,male,30.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
220,1,3,male,16.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,yes,True,True
221,0,2,male,27.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
222,0,3,male,51.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
223,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
224,1,1,male,38.00,1,False,0,90.00,S,First,man,True,C,Southampton,yes,False,True
225,0,3,male,22.00,0,False,0,9.35,S,Third,man,True,NaN,Southampton,no,True,True
226,1,2,male,19.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,yes,True,True
227,0,3,male,20.50,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
228,0,2,male,18.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
229,0,3,female,NaN,3,False,1,25.47,S,Third,woman,False,NaN,Southampton,no,False,True
230,1,1,female,35.00,1,False,0,83.47,S,First,woman,False,C,Southampton,yes,False,True
231,0,3,male,29.00,0,False,0,7.78,S,Third,man,True,NaN,Southampton,no,True,True
232,0,2,male,59.00,0,False,0,13.50,S,Second,man,True,NaN,Southampton,no,True,True
233,1,3,female,5.00,4,False,2,31.39,S,Third,child,False,NaN,Southampton,yes,False,True
234,0,2,male,24.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
235,0,3,female,NaN,0,False,0,7.55,S,Third,woman,False,NaN,Southampton,no,True,True
236,0,2,male,44.00,1,False,0,26.00,S,Second,man,True,NaN,Southampton,no,False,True
237,1,2,female,8.00,0,False,2,26.25,S,Second,child,False,NaN,Southampton,yes,False,True
238,0,2,male,19.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
239,0,2,male,33.00,0,False,0,12.28,S,Second,man,True,NaN,Southampton,no,True,True
240,0,3,female,NaN,1,False,0,14.45,C,Third,woman,False,NaN,Cherbourg,no,False,True
241,1,3,female,NaN,1,False,0,15.50,Q,Third,woman,False,NaN,Queenstown,yes,False,True
242,0,2,male,29.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
243,0,3,male,22.00,0,False,0,7.12,S,Third,man,True,NaN,Southampton,no,True,True

In [10]:
df1.head()

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,False,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,False,0,53.10,S,First,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True

In [11]:
df1.drop(np.arange(10))

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
10,1,3,female,4.00,1,False,1,16.70,S,Third,child,False,G,Southampton,yes,False,True
11,1,1,female,58.00,0,False,0,26.55,S,First,woman,False,C,Southampton,yes,True,True
12,0,3,male,20.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
13,0,3,male,39.00,1,False,5,31.27,S,Third,man,True,NaN,Southampton,no,False,True
14,0,3,female,14.00,0,False,0,7.85,S,Third,child,False,NaN,Southampton,no,True,True
15,1,2,female,55.00,0,False,0,16.00,S,Second,woman,False,NaN,Southampton,yes,True,True
16,0,3,male,2.00,4,False,1,29.12,Q,Third,child,False,NaN,Queenstown,no,False,True
17,1,2,male,NaN,0,False,0,13.00,S,Second,man,True,NaN,Southampton,yes,True,True
18,0,3,female,31.00,1,False,0,18.00,S,Third,woman,False,NaN,Southampton,no,False,True
19,1,3,female,NaN,0,False,0,7.22,C,Third,woman,False,NaN,Cherbourg,yes,True,True
20,0,2,male,35.00,0,False,0,26.00,S,Second,man,True,NaN,Southampton,no,True,True
21,1,2,male,34.00,0,False,0,13.00,S,Second,man,True,D,Southampton,yes,True,True
22,1,3,female,15.00,0,False,0,8.03,Q,Third,child,False,NaN,Queenstown,yes,True,True
23,1,1,male,28.00,0,False,0,35.50,S,First,man,True,A,Southampton,yes,True,True
24,0,3,female,8.00,3,False,1,21.07,S,Third,child,False,NaN,Southampton,no,False,True
25,1,3,female,38.00,1,False,5,31.39,S,Third,woman,False,NaN,Southampton,yes,False,True
26,0,3,male,NaN,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
27,0,1,male,19.00,3,True,2,263.00,S,First,man,True,C,Southampton,no,False,True
28,1,3,female,NaN,0,False,0,7.88,Q,Third,woman,False,NaN,Queenstown,yes,True,True
29,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
30,0,1,male,40.00,0,False,0,27.72,C,First,man,True,NaN,Cherbourg,no,True,True
31,1,1,female,NaN,1,True,0,146.52,C,First,woman,False,B,Cherbourg,yes,False,True
32,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
33,0,2,male,66.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
34,0,1,male,28.00,1,False,0,82.17,C,First,man,True,NaN,Cherbourg,no,False,True
35,0,1,male,42.00,1,False,0,52.00,S,First,man,True,NaN,Southampton,no,False,True
36,1,3,male,NaN,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,yes,True,True
37,0,3,male,21.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
38,0,3,female,18.00,2,False,0,18.00,S,Third,woman,False,NaN,Southampton,no,False,True
39,1,3,female,14.00,1,False,0,11.24,C,Third,child,False,NaN,Cherbourg,yes,False,True
40,0,3,female,40.00,1,False,0,9.47,S,Third,woman,False,NaN,Southampton,no,False,True
41,0,2,female,27.00,1,False,0,21.00,S,Second,woman,False,NaN,Southampton,no,False,True
42,0,3,male,NaN,0,False,0,7.90,C,Third,man,True,NaN,Cherbourg,no,True,True
43,1,2,female,3.00,1,False,2,41.58,C,Second,child,False,NaN,Cherbourg,yes,False,True
44,1,3,female,19.00,0,False,0,7.88,Q,Third,woman,False,NaN,Queenstown,yes,True,True
45,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
46,0,3,male,NaN,1,False,0,15.50,Q,Third,man,True,NaN,Queenstown,no,False,True
47,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
48,0,3,male,NaN,2,False,0,21.68,C,Third,man,True,NaN,Cherbourg,no,False,True
49,0,3,female,18.00,1,False,0,17.80,S,Third,woman,False,NaN,Southampton,no,False,True
50,0,3,male,7.00,4,False,1,39.69,S,Third,child,False,NaN,Southampton,no,False,True
51,0,3,male,21.00,0,False,0,7.80,S,Third,man,True,NaN,Southampton,no,True,True
52,1,1,female,49.00,1,False,0,76.73,C,First,woman,False,D,Cherbourg,yes,False,True
53,1,2,female,29.00,1,False,0,26.00,S,Second,woman,False,NaN,Southampton,yes,False,True
54,0,1,male,65.00,0,False,1,61.98,C,First,man,True,B,Cherbourg,no,False,True
55,1,1,male,NaN,0,False,0,35.50,S,First,man,True,C,Southampton,yes,True,True
56,1,2,female,21.00,0,False,0,10.50,S,Second,woman,False,NaN,Southampton,yes,True,True
57,0,3,male,28.50,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,no,True,True
58,1,2,female,5.00,1,False,2,27.75,S,Second,child,False,NaN,Southampton,yes,False,True
59,0,3,male,11.00,5,False,2,46.90,S,Third,child,False,NaN,Southampton,no,False,True
60,0,3,male,22.00,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,no,True,True
61,1,1,female,38.00,0,False,0,80.00,NaN,First,woman,False,B,NaN,yes,True,True
62,0,1,male,45.00,1,False,0,83.47,S,First,man,True,C,Southampton,no,False,True
63,0,3,male,4.00,3,False,2,27.90,S,Third,child,False,NaN,Southampton,no,False,True
64,0,1,male,NaN,0,False,0,27.72,C,First,man,True,NaN,Cherbourg,no,True,True
65,1,3,male,NaN,1,False,1,15.25,C,Third,man,True,NaN,Cherbourg,yes,False,True
66,1,2,female,29.00,0,False,0,10.50,S,Second,woman,False,F,Southampton,yes,True,True
67,0,3,male,19.00,0,False,0,8.16,S,Third,man,True,NaN,Southampton,no,True,True
68,1,3,female,17.00,4,False,2,7.92,S,Third,woman,False,NaN,Southampton,yes,False,True
69,0,3,male,26.00,2,False,0,8.66,S,Third,man,True,NaN,Southampton,no,False,True
70,0,2,male,32.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
71,0,3,female,16.00,5,False,2,46.90,S,Third,woman,False,NaN,Southampton,no,False,True
72,0,2,male,21.00,0,False,0,73.50,S,Second,man,True,NaN,Southampton,no,True,True
73,0,3,male,26.00,1,False,0,14.45,C,Third,man,True,NaN,Cherbourg,no,False,True
74,1,3,male,32.00,0,False,0,56.50,S,Third,man,True,NaN,Southampton,yes,True,True
75,0,3,male,25.00,0,False,0,7.65,S,Third,man,True,F,Southampton,no,True,True
76,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
77,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
78,1,2,male,0.83,0,False,2,29.00,S,Second,child,False,NaN,Southampton,yes,False,True
79,1,3,female,30.00,0,False,0,12.47,S,Third,woman,False,NaN,Southampton,yes,True,True
80,0,3,male,22.00,0,False,0,9.00,S,Third,man,True,NaN,Southampton,no,True,True
81,1,3,male,29.00,0,False,0,9.50,S,Third,man,True,NaN,Southampton,yes,True,True
82,1,3,female,NaN,0,False,0,7.79,Q,Third,woman,False,NaN,Queenstown,yes,True,True
83,0,1,male,28.00,0,False,0,47.10,S,First,man,True,NaN,Southampton,no,True,True
84,1,2,female,17.00,0,False,0,10.50,S,Second,woman,False,NaN,Southampton,yes,True,True
85,1,3,female,33.00,3,False,0,15.85,S,Third,woman,False,NaN,Southampton,yes,False,True
86,0,3,male,16.00,1,False,3,34.38,S,Third,man,True,NaN,Southampton,no,False,True
87,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
88,1,1,female,23.00,3,True,2,263.00,S,First,woman,False,C,Southampton,yes,False,True
89,0,3,male,24.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
90,0,3,male,29.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
91,0,3,male,20.00,0,False,0,7.85,S,Third,man,True,NaN,Southampton,no,True,True
92,0,1,male,46.00,1,False,0,61.17,S,First,man,True,E,Southampton,no,False,True
93,0,3,male,26.00,1,False,2,20.57,S,Third,man,True,NaN,Southampton,no,False,True
94,0,3,male,59.00,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
95,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
96,0,1,male,71.00,0,False,0,34.65,C,First,man,True,A,Cherbourg,no,True,True
97,1,1,male,23.00,0,False,1,63.36,C,First,man,True,D,Cherbourg,yes,False,True
98,1,2,female,34.00,0,False,1,23.00,S,Second,woman,False,NaN,Southampton,yes,False,True
99,0,2,male,34.00,1,False,0,26.00,S,Second,man,True,NaN,Southampton,no,False,True
100,0,3,female,28.00,0,False,0,7.90,S,Third,woman,False,NaN,Southampton,no,True,True
101,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
102,0,1,male,21.00,0,False,1,77.29,S,First,man,True,D,Southampton,no,False,True
103,0,3,male,33.00,0,False,0,8.65,S,Third,man,True,NaN,Southampton,no,True,True
104,0,3,male,37.00,2,False,0,7.92,S,Third,man,True,NaN,Southampton,no,False,True
105,0,3,male,28.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
106,1,3,female,21.00,0,False,0,7.65,S,Third,woman,False,NaN,Southampton,yes,True,True
107,1,3,male,NaN,0,False,0,7.78,S,Third,man,True,NaN,Southampton,yes,True,True
108,0,3,male,38.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
109,1,3,female,NaN,1,False,0,24.15,Q,Third,woman,False,NaN,Queenstown,yes,False,True
110,0,1,male,47.00,0,False,0,52.00,S,First,man,True,C,Southampton,no,True,True
111,0,3,female,14.50,1,False,0,14.45,C,Third,child,False,NaN,Cherbourg,no,False,True
112,0,3,male,22.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
113,0,3,female,20.00,1,False,0,9.82,S,Third,woman,False,NaN,Southampton,no,False,True
114,0,3,female,17.00,0,False,0,14.46,C,Third,woman,False,NaN,Cherbourg,no,True,True
115,0,3,male,21.00,0,False,0,7.92,S,Third,man,True,NaN,Southampton,no,True,True
116,0,3,male,70.50,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
117,0,2,male,29.00,1,False,0,21.00,S,Second,man,True,NaN,Southampton,no,False,True
118,0,1,male,24.00,0,True,1,247.52,C,First,man,True,B,Cherbourg,no,False,True
119,0,3,female,2.00,4,False,2,31.27,S,Third,child,False,NaN,Southampton,no,False,True
120,0,2,male,21.00,2,False,0,73.50,S,Second,man,True,NaN,Southampton,no,False,True
121,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
122,0,2,male,32.50,1,False,0,30.07,C,Second,man,True,NaN,Cherbourg,no,False,True
123,1,2,female,32.50,0,False,0,13.00,S,Second,woman,False,E,Southampton,yes,True,True
124,0,1,male,54.00,0,False,1,77.29,S,First,man,True,D,Southampton,no,False,True
125,1,3,male,12.00,1,False,0,11.24,C,Third,child,False,NaN,Cherbourg,yes,False,True
126,0,3,male,NaN,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
127,1,3,male,24.00,0,False,0,7.14,S,Third,man,True,NaN,Southampton,yes,True,True
128,1,3,female,NaN,1,False,1,22.36,C,Third,woman,False,F,Cherbourg,yes,False,True
129,0,3,male,45.00,0,False,0,6.97,S,Third,man,True,NaN,Southampton,no,True,True
130,0,3,male,33.00,0,False,0,7.90,C,Third,man,True,NaN,Cherbourg,no,True,True
131,0,3,male,20.00,0,False,0,7.05,S,Third,man,True,NaN,Southampton,no,True,True
132,0,3,female,47.00,1,False,0,14.50,S,Third,woman,False,NaN,Southampton,no,False,True
133,1,2,female,29.00,1,False,0,26.00,S,Second,woman,False,NaN,Southampton,yes,False,True
134,0,2,male,25.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
135,0,2,male,23.00,0,False,0,15.05,C,Second,man,True,NaN,Cherbourg,no,True,True
136,1,1,female,19.00,0,False,2,26.28,S,First,woman,False,D,Southampton,yes,False,True
137,0,1,male,37.00,1,False,0,53.10,S,First,man,True,C,Southampton,no,False,True
138,0,3,male,16.00,0,False,0,9.22,S,Third,man,True,NaN,Southampton,no,True,True
139,0,1,male,24.00,0,False,0,79.20,C,First,man,True,B,Cherbourg,no,True,True
140,0,3,female,NaN,0,False,2,15.25,C,Third,woman,False,NaN,Cherbourg,no,False,True
141,1,3,female,22.00,0,False,0,7.75,S,Third,woman,False,NaN,Southampton,yes,True,True
142,1,3,female,24.00,1,False,0,15.85,S,Third,woman,False,NaN,Southampton,yes,False,True
143,0,3,male,19.00,0,False,0,6.75,Q,Third,man,True,NaN,Queenstown,no,True,True
144,0,2,male,18.00,0,False,0,11.50,S,Second,man,True,NaN,Southampton,no,True,True
145,0,2,male,19.00,1,False,1,36.75,S,Second,man,True,NaN,Southampton,no,False,True
146,1,3,male,27.00,0,False,0,7.80,S,Third,man,True,NaN,Southampton,yes,True,True
147,0,3,female,9.00,2,False,2,34.38,S,Third,child,False,NaN,Southampton,no,False,True
148,0,2,male,36.50,0,False,2,26.00,S,Second,man,True,F,Southampton,no,False,True
149,0,2,male,42.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
150,0,2,male,51.00,0,False,0,12.53,S,Second,man,True,NaN,Southampton,no,True,True
151,1,1,female,22.00,1,False,0,66.60,S,First,woman,False,C,Southampton,yes,False,True
152,0,3,male,55.50,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
153,0,3,male,40.50,0,False,2,14.50,S,Third,man,True,NaN,Southampton,no,False,True
154,0,3,male,NaN,0,False,0,7.31,S,Third,man,True,NaN,Southampton,no,True,True
155,0,1,male,51.00,0,False,1,61.38,C,First,man,True,NaN,Cherbourg,no,False,True
156,1,3,female,16.00,0,False,0,7.73,Q,Third,woman,False,NaN,Queenstown,yes,True,True
157,0,3,male,30.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
158,0,3,male,NaN,0,False,0,8.66,S,Third,man,True,NaN,Southampton,no,True,True
159,0,3,male,NaN,8,False,2,69.55,S,Third,man,True,NaN,Southampton,no,False,True
160,0,3,male,44.00,0,False,1,16.10,S,Third,man,True,NaN,Southampton,no,False,True
161,1,2,female,40.00,0,False,0,15.75,S,Second,woman,False,NaN,Southampton,yes,True,True
162,0,3,male,26.00,0,False,0,7.78,S,Third,man,True,NaN,Southampton,no,True,True
163,0,3,male,17.00,0,False,0,8.66,S,Third,man,True,NaN,Southampton,no,True,True
164,0,3,male,1.00,4,False,1,39.69,S,Third,child,False,NaN,Southampton,no,False,True
165,1,3,male,9.00,0,False,2,20.52,S,Third,child,False,NaN,Southampton,yes,False,True
166,1,1,female,NaN,0,False,1,55.00,S,First,woman,False,E,Southampton,yes,False,True
167,0,3,female,45.00,1,False,4,27.90,S,Third,woman,False,NaN,Southampton,no,False,True
168,0,1,male,NaN,0,False,0,25.93,S,First,man,True,NaN,Southampton,no,True,True
169,0,3,male,28.00,0,False,0,56.50,S,Third,man,True,NaN,Southampton,no,True,True
170,0,1,male,61.00,0,False,0,33.50,S,First,man,True,B,Southampton,no,True,True
171,0,3,male,4.00,4,False,1,29.12,Q,Third,child,False,NaN,Queenstown,no,False,True
172,1,3,female,1.00,1,False,1,11.13,S,Third,child,False,NaN,Southampton,yes,False,True
173,0,3,male,21.00,0,False,0,7.92,S,Third,man,True,NaN,Southampton,no,True,True
174,0,1,male,56.00,0,False,0,30.70,C,First,man,True,A,Cherbourg,no,True,True
175,0,3,male,18.00,1,False,1,7.85,S,Third,man,True,NaN,Southampton,no,False,True
176,0,3,male,NaN,3,False,1,25.47,S,Third,man,True,NaN,Southampton,no,False,True
177,0,1,female,50.00,0,False,0,28.71,C,First,woman,False,C,Cherbourg,no,True,True
178,0,2,male,30.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
179,0,3,male,36.00,0,False,0,0.00,S,Third,man,True,NaN,Southampton,no,True,True
180,0,3,female,NaN,8,False,2,69.55,S,Third,woman,False,NaN,Southampton,no,False,True
181,0,2,male,NaN,0,False,0,15.05,C,Second,man,True,NaN,Cherbourg,no,True,True
182,0,3,male,9.00,4,False,2,31.39,S,Third,child,False,NaN,Southampton,no,False,True
183,1,2,male,1.00,2,False,1,39.00,S,Second,child,False,F,Southampton,yes,False,True
184,1,3,female,4.00,0,False,2,22.02,S,Third,child,False,NaN,Southampton,yes,False,True
185,0,1,male,NaN,0,False,0,50.00,S,First,man,True,A,Southampton,no,True,True
186,1,3,female,NaN,1,False,0,15.50,Q,Third,woman,False,NaN,Queenstown,yes,False,True
187,1,1,male,45.00,0,False,0,26.55,S,First,man,True,NaN,Southampton,yes,True,True
188,0,3,male,40.00,1,False,1,15.50,Q,Third,man,True,NaN,Queenstown,no,False,True
189,0,3,male,36.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
190,1,2,female,32.00,0,False,0,13.00,S,Second,woman,False,NaN,Southampton,yes,True,True
191,0,2,male,19.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
192,1,3,female,19.00,1,False,0,7.85,S,Third,woman,False,NaN,Southampton,yes,False,True
193,1,2,male,3.00,1,False,1,26.00,S,Second,child,False,F,Southampton,yes,False,True
194,1,1,female,44.00,0,False,0,27.72,C,First,woman,False,B,Cherbourg,yes,True,True
195,1,1,female,58.00,0,True,0,146.52,C,First,woman,False,B,Cherbourg,yes,True,True
196,0,3,male,NaN,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
197,0,3,male,42.00,0,False,1,8.40,S,Third,man,True,NaN,Southampton,no,False,True
198,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
199,0,2,female,24.00,0,False,0,13.00,S,Second,woman,False,NaN,Southampton,no,True,True
200,0,3,male,28.00,0,False,0,9.50,S,Third,man,True,NaN,Southampton,no,True,True
201,0,3,male,NaN,8,False,2,69.55,S,Third,man,True,NaN,Southampton,no,False,True
202,0,3,male,34.00,0,False,0,6.50,S,Third,man,True,NaN,Southampton,no,True,True
203,0,3,male,45.50,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
204,1,3,male,18.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,yes,True,True
205,0,3,female,2.00,0,False,1,10.46,S,Third,child,False,G,Southampton,no,False,True
206,0,3,male,32.00,1,False,0,15.85,S,Third,man,True,NaN,Southampton,no,False,True
207,1,3,male,26.00,0,False,0,18.79,C,Third,man,True,NaN,Cherbourg,yes,True,True
208,1,3,female,16.00,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
209,1,1,male,40.00,0,False,0,31.00,C,First,man,True,A,Cherbourg,yes,True,True
210,0,3,male,24.00,0,False,0,7.05,S,Third,man,True,NaN,Southampton,no,True,True
211,1,2,female,35.00,0,False,0,21.00,S,Second,woman,False,NaN,Southampton,yes,True,True
212,0,3,male,22.00,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
213,0,2,male,30.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
214,0,3,male,NaN,1,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,False,True
215,1,1,female,31.00,1,True,0,113.28,C,First,woman,False,D,Cherbourg,yes,False,True
216,1,3,female,27.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
217,0,2,male,42.00,1,False,0,27.00,S,Second,man,True,NaN,Southampton,no,False,True
218,1,1,female,32.00,0,False,0,76.29,C,First,woman,False,D,Cherbourg,yes,True,True
219,0,2,male,30.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
220,1,3,male,16.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,yes,True,True
221,0,2,male,27.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
222,0,3,male,51.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
223,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
224,1,1,male,38.00,1,False,0,90.00,S,First,man,True,C,Southampton,yes,False,True
225,0,3,male,22.00,0,False,0,9.35,S,Third,man,True,NaN,Southampton,no,True,True
226,1,2,male,19.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,yes,True,True
227,0,3,male,20.50,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
228,0,2,male,18.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
229,0,3,female,NaN,3,False,1,25.47,S,Third,woman,False,NaN,Southampton,no,False,True
230,1,1,female,35.00,1,False,0,83.47,S,First,woman,False,C,Southampton,yes,False,True
231,0,3,male,29.00,0,False,0,7.78,S,Third,man,True,NaN,Southampton,no,True,True
232,0,2,male,59.00,0,False,0,13.50,S,Second,man,True,NaN,Southampton,no,True,True
233,1,3,female,5.00,4,False,2,31.39,S,Third,child,False,NaN,Southampton,yes,False,True
234,0,2,male,24.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
235,0,3,female,NaN,0,False,0,7.55,S,Third,woman,False,NaN,Southampton,no,True,True
236,0,2,male,44.00,1,False,0,26.00,S,Second,man,True,NaN,Southampton,no,False,True
237,1,2,female,8.00,0,False,2,26.25,S,Second,child,False,NaN,Southampton,yes,False,True
238,0,2,male,19.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
239,0,2,male,33.00,0,False,0,12.28,S,Second,man,True,NaN,Southampton,no,True,True
240,0,3,female,NaN,1,False,0,14.45,C,Third,woman,False,NaN,Cherbourg,no,False,True
241,1,3,female,NaN,1,False,0,15.50,Q,Third,woman,False,NaN,Queenstown,yes,False,True
242,0,2,male,29.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
243,0,3,male,22.00,0,False,0,7.12,S,Third,man,True,NaN,Southampton,no,True,True
244,0,3,male,30.00,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
245,0,1,male,44.00,2,False,0,90.00,Q,First,man,True,C,Queenstown,no,False,True
246,0,3,female,25.00,0,False,0,7.78,S,Third,woman,False,NaN,Southampton,no,True,True
247,1,2,female,24.00,0,False,2,14.50,S,Second,woman,False,NaN,Southampton,yes,False,True
248,1,1,male,37.00,1,False,1,52.55,S,First,man,True,D,Southampton,yes,False,True
249,0,2,male,54.00,1,False,0,26.00,S,Second,man,True,NaN,Southampton,no,False,True
250,0,3,male,NaN,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
251,0,3,female,29.00,1,False,1,10.46,S,Third,woman,False,G,Southampton,no,False,True
252,0,1,male,62.00,0,False,0,26.55,S,First,man,True,C,Southampton,no,True,True

In [12]:
df1.drop([1,3,5,7,9])

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
6,0,1,male,54.00,0,False,0,51.86,S,First,man,True,E,Southampton,no,True,True
8,1,3,female,27.00,0,False,2,11.13,S,Third,woman,False,NaN,Southampton,yes,False,True
10,1,3,female,4.00,1,False,1,16.70,S,Third,child,False,G,Southampton,yes,False,True
11,1,1,female,58.00,0,False,0,26.55,S,First,woman,False,C,Southampton,yes,True,True
12,0,3,male,20.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
13,0,3,male,39.00,1,False,5,31.27,S,Third,man,True,NaN,Southampton,no,False,True
14,0,3,female,14.00,0,False,0,7.85,S,Third,child,False,NaN,Southampton,no,True,True
15,1,2,female,55.00,0,False,0,16.00,S,Second,woman,False,NaN,Southampton,yes,True,True
16,0,3,male,2.00,4,False,1,29.12,Q,Third,child,False,NaN,Queenstown,no,False,True
17,1,2,male,NaN,0,False,0,13.00,S,Second,man,True,NaN,Southampton,yes,True,True
18,0,3,female,31.00,1,False,0,18.00,S,Third,woman,False,NaN,Southampton,no,False,True
19,1,3,female,NaN,0,False,0,7.22,C,Third,woman,False,NaN,Cherbourg,yes,True,True
20,0,2,male,35.00,0,False,0,26.00,S,Second,man,True,NaN,Southampton,no,True,True
21,1,2,male,34.00,0,False,0,13.00,S,Second,man,True,D,Southampton,yes,True,True
22,1,3,female,15.00,0,False,0,8.03,Q,Third,child,False,NaN,Queenstown,yes,True,True
23,1,1,male,28.00,0,False,0,35.50,S,First,man,True,A,Southampton,yes,True,True
24,0,3,female,8.00,3,False,1,21.07,S,Third,child,False,NaN,Southampton,no,False,True
25,1,3,female,38.00,1,False,5,31.39,S,Third,woman,False,NaN,Southampton,yes,False,True
26,0,3,male,NaN,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
27,0,1,male,19.00,3,True,2,263.00,S,First,man,True,C,Southampton,no,False,True
28,1,3,female,NaN,0,False,0,7.88,Q,Third,woman,False,NaN,Queenstown,yes,True,True
29,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
30,0,1,male,40.00,0,False,0,27.72,C,First,man,True,NaN,Cherbourg,no,True,True
31,1,1,female,NaN,1,True,0,146.52,C,First,woman,False,B,Cherbourg,yes,False,True
32,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
33,0,2,male,66.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
34,0,1,male,28.00,1,False,0,82.17,C,First,man,True,NaN,Cherbourg,no,False,True
35,0,1,male,42.00,1,False,0,52.00,S,First,man,True,NaN,Southampton,no,False,True
36,1,3,male,NaN,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,yes,True,True
37,0,3,male,21.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
38,0,3,female,18.00,2,False,0,18.00,S,Third,woman,False,NaN,Southampton,no,False,True
39,1,3,female,14.00,1,False,0,11.24,C,Third,child,False,NaN,Cherbourg,yes,False,True
40,0,3,female,40.00,1,False,0,9.47,S,Third,woman,False,NaN,Southampton,no,False,True
41,0,2,female,27.00,1,False,0,21.00,S,Second,woman,False,NaN,Southampton,no,False,True
42,0,3,male,NaN,0,False,0,7.90,C,Third,man,True,NaN,Cherbourg,no,True,True
43,1,2,female,3.00,1,False,2,41.58,C,Second,child,False,NaN,Cherbourg,yes,False,True
44,1,3,female,19.00,0,False,0,7.88,Q,Third,woman,False,NaN,Queenstown,yes,True,True
45,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
46,0,3,male,NaN,1,False,0,15.50,Q,Third,man,True,NaN,Queenstown,no,False,True
47,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
48,0,3,male,NaN,2,False,0,21.68,C,Third,man,True,NaN,Cherbourg,no,False,True
49,0,3,female,18.00,1,False,0,17.80,S,Third,woman,False,NaN,Southampton,no,False,True
50,0,3,male,7.00,4,False,1,39.69,S,Third,child,False,NaN,Southampton,no,False,True
51,0,3,male,21.00,0,False,0,7.80,S,Third,man,True,NaN,Southampton,no,True,True
52,1,1,female,49.00,1,False,0,76.73,C,First,woman,False,D,Cherbourg,yes,False,True
53,1,2,female,29.00,1,False,0,26.00,S,Second,woman,False,NaN,Southampton,yes,False,True
54,0,1,male,65.00,0,False,1,61.98,C,First,man,True,B,Cherbourg,no,False,True
55,1,1,male,NaN,0,False,0,35.50,S,First,man,True,C,Southampton,yes,True,True
56,1,2,female,21.00,0,False,0,10.50,S,Second,woman,False,NaN,Southampton,yes,True,True
57,0,3,male,28.50,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,no,True,True
58,1,2,female,5.00,1,False,2,27.75,S,Second,child,False,NaN,Southampton,yes,False,True
59,0,3,male,11.00,5,False,2,46.90,S,Third,child,False,NaN,Southampton,no,False,True
60,0,3,male,22.00,0,False,0,7.23,C,Third,man,True,NaN,Cherbourg,no,True,True
61,1,1,female,38.00,0,False,0,80.00,NaN,First,woman,False,B,NaN,yes,True,True
62,0,1,male,45.00,1,False,0,83.47,S,First,man,True,C,Southampton,no,False,True
63,0,3,male,4.00,3,False,2,27.90,S,Third,child,False,NaN,Southampton,no,False,True
64,0,1,male,NaN,0,False,0,27.72,C,First,man,True,NaN,Cherbourg,no,True,True
65,1,3,male,NaN,1,False,1,15.25,C,Third,man,True,NaN,Cherbourg,yes,False,True
66,1,2,female,29.00,0,False,0,10.50,S,Second,woman,False,F,Southampton,yes,True,True
67,0,3,male,19.00,0,False,0,8.16,S,Third,man,True,NaN,Southampton,no,True,True
68,1,3,female,17.00,4,False,2,7.92,S,Third,woman,False,NaN,Southampton,yes,False,True
69,0,3,male,26.00,2,False,0,8.66,S,Third,man,True,NaN,Southampton,no,False,True
70,0,2,male,32.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
71,0,3,female,16.00,5,False,2,46.90,S,Third,woman,False,NaN,Southampton,no,False,True
72,0,2,male,21.00,0,False,0,73.50,S,Second,man,True,NaN,Southampton,no,True,True
73,0,3,male,26.00,1,False,0,14.45,C,Third,man,True,NaN,Cherbourg,no,False,True
74,1,3,male,32.00,0,False,0,56.50,S,Third,man,True,NaN,Southampton,yes,True,True
75,0,3,male,25.00,0,False,0,7.65,S,Third,man,True,F,Southampton,no,True,True
76,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
77,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
78,1,2,male,0.83,0,False,2,29.00,S,Second,child,False,NaN,Southampton,yes,False,True
79,1,3,female,30.00,0,False,0,12.47,S,Third,woman,False,NaN,Southampton,yes,True,True
80,0,3,male,22.00,0,False,0,9.00,S,Third,man,True,NaN,Southampton,no,True,True
81,1,3,male,29.00,0,False,0,9.50,S,Third,man,True,NaN,Southampton,yes,True,True
82,1,3,female,NaN,0,False,0,7.79,Q,Third,woman,False,NaN,Queenstown,yes,True,True
83,0,1,male,28.00,0,False,0,47.10,S,First,man,True,NaN,Southampton,no,True,True
84,1,2,female,17.00,0,False,0,10.50,S,Second,woman,False,NaN,Southampton,yes,True,True
85,1,3,female,33.00,3,False,0,15.85,S,Third,woman,False,NaN,Southampton,yes,False,True
86,0,3,male,16.00,1,False,3,34.38,S,Third,man,True,NaN,Southampton,no,False,True
87,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
88,1,1,female,23.00,3,True,2,263.00,S,First,woman,False,C,Southampton,yes,False,True
89,0,3,male,24.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
90,0,3,male,29.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
91,0,3,male,20.00,0,False,0,7.85,S,Third,man,True,NaN,Southampton,no,True,True
92,0,1,male,46.00,1,False,0,61.17,S,First,man,True,E,Southampton,no,False,True
93,0,3,male,26.00,1,False,2,20.57,S,Third,man,True,NaN,Southampton,no,False,True
94,0,3,male,59.00,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
95,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
96,0,1,male,71.00,0,False,0,34.65,C,First,man,True,A,Cherbourg,no,True,True
97,1,1,male,23.00,0,False,1,63.36,C,First,man,True,D,Cherbourg,yes,False,True
98,1,2,female,34.00,0,False,1,23.00,S,Second,woman,False,NaN,Southampton,yes,False,True
99,0,2,male,34.00,1,False,0,26.00,S,Second,man,True,NaN,Southampton,no,False,True
100,0,3,female,28.00,0,False,0,7.90,S,Third,woman,False,NaN,Southampton,no,True,True
101,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
102,0,1,male,21.00,0,False,1,77.29,S,First,man,True,D,Southampton,no,False,True
103,0,3,male,33.00,0,False,0,8.65,S,Third,man,True,NaN,Southampton,no,True,True
104,0,3,male,37.00,2,False,0,7.92,S,Third,man,True,NaN,Southampton,no,False,True
105,0,3,male,28.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
106,1,3,female,21.00,0,False,0,7.65,S,Third,woman,False,NaN,Southampton,yes,True,True
107,1,3,male,NaN,0,False,0,7.78,S,Third,man,True,NaN,Southampton,yes,True,True
108,0,3,male,38.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
109,1,3,female,NaN,1,False,0,24.15,Q,Third,woman,False,NaN,Queenstown,yes,False,True
110,0,1,male,47.00,0,False,0,52.00,S,First,man,True,C,Southampton,no,True,True
111,0,3,female,14.50,1,False,0,14.45,C,Third,child,False,NaN,Cherbourg,no,False,True
112,0,3,male,22.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
113,0,3,female,20.00,1,False,0,9.82,S,Third,woman,False,NaN,Southampton,no,False,True
114,0,3,female,17.00,0,False,0,14.46,C,Third,woman,False,NaN,Cherbourg,no,True,True
115,0,3,male,21.00,0,False,0,7.92,S,Third,man,True,NaN,Southampton,no,True,True
116,0,3,male,70.50,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
117,0,2,male,29.00,1,False,0,21.00,S,Second,man,True,NaN,Southampton,no,False,True
118,0,1,male,24.00,0,True,1,247.52,C,First,man,True,B,Cherbourg,no,False,True
119,0,3,female,2.00,4,False,2,31.27,S,Third,child,False,NaN,Southampton,no,False,True
120,0,2,male,21.00,2,False,0,73.50,S,Second,man,True,NaN,Southampton,no,False,True
121,0,3,male,NaN,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
122,0,2,male,32.50,1,False,0,30.07,C,Second,man,True,NaN,Cherbourg,no,False,True
123,1,2,female,32.50,0,False,0,13.00,S,Second,woman,False,E,Southampton,yes,True,True
124,0,1,male,54.00,0,False,1,77.29,S,First,man,True,D,Southampton,no,False,True
125,1,3,male,12.00,1,False,0,11.24,C,Third,child,False,NaN,Cherbourg,yes,False,True
126,0,3,male,NaN,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
127,1,3,male,24.00,0,False,0,7.14,S,Third,man,True,NaN,Southampton,yes,True,True
128,1,3,female,NaN,1,False,1,22.36,C,Third,woman,False,F,Cherbourg,yes,False,True
129,0,3,male,45.00,0,False,0,6.97,S,Third,man,True,NaN,Southampton,no,True,True
130,0,3,male,33.00,0,False,0,7.90,C,Third,man,True,NaN,Cherbourg,no,True,True
131,0,3,male,20.00,0,False,0,7.05,S,Third,man,True,NaN,Southampton,no,True,True
132,0,3,female,47.00,1,False,0,14.50,S,Third,woman,False,NaN,Southampton,no,False,True
133,1,2,female,29.00,1,False,0,26.00,S,Second,woman,False,NaN,Southampton,yes,False,True
134,0,2,male,25.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
135,0,2,male,23.00,0,False,0,15.05,C,Second,man,True,NaN,Cherbourg,no,True,True
136,1,1,female,19.00,0,False,2,26.28,S,First,woman,False,D,Southampton,yes,False,True
137,0,1,male,37.00,1,False,0,53.10,S,First,man,True,C,Southampton,no,False,True
138,0,3,male,16.00,0,False,0,9.22,S,Third,man,True,NaN,Southampton,no,True,True
139,0,1,male,24.00,0,False,0,79.20,C,First,man,True,B,Cherbourg,no,True,True
140,0,3,female,NaN,0,False,2,15.25,C,Third,woman,False,NaN,Cherbourg,no,False,True
141,1,3,female,22.00,0,False,0,7.75,S,Third,woman,False,NaN,Southampton,yes,True,True
142,1,3,female,24.00,1,False,0,15.85,S,Third,woman,False,NaN,Southampton,yes,False,True
143,0,3,male,19.00,0,False,0,6.75,Q,Third,man,True,NaN,Queenstown,no,True,True
144,0,2,male,18.00,0,False,0,11.50,S,Second,man,True,NaN,Southampton,no,True,True
145,0,2,male,19.00,1,False,1,36.75,S,Second,man,True,NaN,Southampton,no,False,True
146,1,3,male,27.00,0,False,0,7.80,S,Third,man,True,NaN,Southampton,yes,True,True
147,0,3,female,9.00,2,False,2,34.38,S,Third,child,False,NaN,Southampton,no,False,True
148,0,2,male,36.50,0,False,2,26.00,S,Second,man,True,F,Southampton,no,False,True
149,0,2,male,42.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
150,0,2,male,51.00,0,False,0,12.53,S,Second,man,True,NaN,Southampton,no,True,True
151,1,1,female,22.00,1,False,0,66.60,S,First,woman,False,C,Southampton,yes,False,True
152,0,3,male,55.50,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
153,0,3,male,40.50,0,False,2,14.50,S,Third,man,True,NaN,Southampton,no,False,True
154,0,3,male,NaN,0,False,0,7.31,S,Third,man,True,NaN,Southampton,no,True,True
155,0,1,male,51.00,0,False,1,61.38,C,First,man,True,NaN,Cherbourg,no,False,True
156,1,3,female,16.00,0,False,0,7.73,Q,Third,woman,False,NaN,Queenstown,yes,True,True
157,0,3,male,30.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
158,0,3,male,NaN,0,False,0,8.66,S,Third,man,True,NaN,Southampton,no,True,True
159,0,3,male,NaN,8,False,2,69.55,S,Third,man,True,NaN,Southampton,no,False,True
160,0,3,male,44.00,0,False,1,16.10,S,Third,man,True,NaN,Southampton,no,False,True
161,1,2,female,40.00,0,False,0,15.75,S,Second,woman,False,NaN,Southampton,yes,True,True
162,0,3,male,26.00,0,False,0,7.78,S,Third,man,True,NaN,Southampton,no,True,True
163,0,3,male,17.00,0,False,0,8.66,S,Third,man,True,NaN,Southampton,no,True,True
164,0,3,male,1.00,4,False,1,39.69,S,Third,child,False,NaN,Southampton,no,False,True
165,1,3,male,9.00,0,False,2,20.52,S,Third,child,False,NaN,Southampton,yes,False,True
166,1,1,female,NaN,0,False,1,55.00,S,First,woman,False,E,Southampton,yes,False,True
167,0,3,female,45.00,1,False,4,27.90,S,Third,woman,False,NaN,Southampton,no,False,True
168,0,1,male,NaN,0,False,0,25.93,S,First,man,True,NaN,Southampton,no,True,True
169,0,3,male,28.00,0,False,0,56.50,S,Third,man,True,NaN,Southampton,no,True,True
170,0,1,male,61.00,0,False,0,33.50,S,First,man,True,B,Southampton,no,True,True
171,0,3,male,4.00,4,False,1,29.12,Q,Third,child,False,NaN,Queenstown,no,False,True
172,1,3,female,1.00,1,False,1,11.13,S,Third,child,False,NaN,Southampton,yes,False,True
173,0,3,male,21.00,0,False,0,7.92,S,Third,man,True,NaN,Southampton,no,True,True
174,0,1,male,56.00,0,False,0,30.70,C,First,man,True,A,Cherbourg,no,True,True
175,0,3,male,18.00,1,False,1,7.85,S,Third,man,True,NaN,Southampton,no,False,True
176,0,3,male,NaN,3,False,1,25.47,S,Third,man,True,NaN,Southampton,no,False,True
177,0,1,female,50.00,0,False,0,28.71,C,First,woman,False,C,Cherbourg,no,True,True
178,0,2,male,30.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
179,0,3,male,36.00,0,False,0,0.00,S,Third,man,True,NaN,Southampton,no,True,True
180,0,3,female,NaN,8,False,2,69.55,S,Third,woman,False,NaN,Southampton,no,False,True
181,0,2,male,NaN,0,False,0,15.05,C,Second,man,True,NaN,Cherbourg,no,True,True
182,0,3,male,9.00,4,False,2,31.39,S,Third,child,False,NaN,Southampton,no,False,True
183,1,2,male,1.00,2,False,1,39.00,S,Second,child,False,F,Southampton,yes,False,True
184,1,3,female,4.00,0,False,2,22.02,S,Third,child,False,NaN,Southampton,yes,False,True
185,0,1,male,NaN,0,False,0,50.00,S,First,man,True,A,Southampton,no,True,True
186,1,3,female,NaN,1,False,0,15.50,Q,Third,woman,False,NaN,Queenstown,yes,False,True
187,1,1,male,45.00,0,False,0,26.55,S,First,man,True,NaN,Southampton,yes,True,True
188,0,3,male,40.00,1,False,1,15.50,Q,Third,man,True,NaN,Queenstown,no,False,True
189,0,3,male,36.00,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
190,1,2,female,32.00,0,False,0,13.00,S,Second,woman,False,NaN,Southampton,yes,True,True
191,0,2,male,19.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
192,1,3,female,19.00,1,False,0,7.85,S,Third,woman,False,NaN,Southampton,yes,False,True
193,1,2,male,3.00,1,False,1,26.00,S,Second,child,False,F,Southampton,yes,False,True
194,1,1,female,44.00,0,False,0,27.72,C,First,woman,False,B,Cherbourg,yes,True,True
195,1,1,female,58.00,0,True,0,146.52,C,First,woman,False,B,Cherbourg,yes,True,True
196,0,3,male,NaN,0,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,True
197,0,3,male,42.00,0,False,1,8.40,S,Third,man,True,NaN,Southampton,no,False,True
198,1,3,female,NaN,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
199,0,2,female,24.00,0,False,0,13.00,S,Second,woman,False,NaN,Southampton,no,True,True
200,0,3,male,28.00,0,False,0,9.50,S,Third,man,True,NaN,Southampton,no,True,True
201,0,3,male,NaN,8,False,2,69.55,S,Third,man,True,NaN,Southampton,no,False,True
202,0,3,male,34.00,0,False,0,6.50,S,Third,man,True,NaN,Southampton,no,True,True
203,0,3,male,45.50,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
204,1,3,male,18.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,yes,True,True
205,0,3,female,2.00,0,False,1,10.46,S,Third,child,False,G,Southampton,no,False,True
206,0,3,male,32.00,1,False,0,15.85,S,Third,man,True,NaN,Southampton,no,False,True
207,1,3,male,26.00,0,False,0,18.79,C,Third,man,True,NaN,Cherbourg,yes,True,True
208,1,3,female,16.00,0,False,0,7.75,Q,Third,woman,False,NaN,Queenstown,yes,True,True
209,1,1,male,40.00,0,False,0,31.00,C,First,man,True,A,Cherbourg,yes,True,True
210,0,3,male,24.00,0,False,0,7.05,S,Third,man,True,NaN,Southampton,no,True,True
211,1,2,female,35.00,0,False,0,21.00,S,Second,woman,False,NaN,Southampton,yes,True,True
212,0,3,male,22.00,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
213,0,2,male,30.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
214,0,3,male,NaN,1,False,0,7.75,Q,Third,man,True,NaN,Queenstown,no,False,True
215,1,1,female,31.00,1,True,0,113.28,C,First,woman,False,D,Cherbourg,yes,False,True
216,1,3,female,27.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
217,0,2,male,42.00,1,False,0,27.00,S,Second,man,True,NaN,Southampton,no,False,True
218,1,1,female,32.00,0,False,0,76.29,C,First,woman,False,D,Cherbourg,yes,True,True
219,0,2,male,30.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
220,1,3,male,16.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,yes,True,True
221,0,2,male,27.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
222,0,3,male,51.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True
223,0,3,male,NaN,0,False,0,7.90,S,Third,man,True,NaN,Southampton,no,True,True
224,1,1,male,38.00,1,False,0,90.00,S,First,man,True,C,Southampton,yes,False,True
225,0,3,male,22.00,0,False,0,9.35,S,Third,man,True,NaN,Southampton,no,True,True
226,1,2,male,19.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,yes,True,True
227,0,3,male,20.50,0,False,0,7.25,S,Third,man,True,NaN,Southampton,no,True,True
228,0,2,male,18.00,0,False,0,13.00,S,Second,man,True,NaN,Southampton,no,True,True
229,0,3,female,NaN,3,False,1,25.47,S,Third,woman,False,NaN,Southampton,no,False,True
230,1,1,female,35.00,1,False,0,83.47,S,First,woman,False,C,Southampton,yes,False,True
231,0,3,male,29.00,0,False,0,7.78,S,Third,man,True,NaN,Southampton,no,True,True
232,0,2,male,59.00,0,False,0,13.50,S,Second,man,True,NaN,Southampton,no,True,True
233,1,3,female,5.00,4,False,2,31.39,S,Third,child,False,NaN,Southampton,yes,False,True
234,0,2,male,24.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
235,0,3,female,NaN,0,False,0,7.55,S,Third,woman,False,NaN,Southampton,no,True,True
236,0,2,male,44.00,1,False,0,26.00,S,Second,man,True,NaN,Southampton,no,False,True
237,1,2,female,8.00,0,False,2,26.25,S,Second,child,False,NaN,Southampton,yes,False,True
238,0,2,male,19.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
239,0,2,male,33.00,0,False,0,12.28,S,Second,man,True,NaN,Southampton,no,True,True
240,0,3,female,NaN,1,False,0,14.45,C,Third,woman,False,NaN,Cherbourg,no,False,True
241,1,3,female,NaN,1,False,0,15.50,Q,Third,woman,False,NaN,Queenstown,yes,False,True
242,0,2,male,29.00,0,False,0,10.50,S,Second,man,True,NaN,Southampton,no,True,True
243,0,3,male,22.00,0,False,0,7.12,S,Third,man,True,NaN,Southampton,no,True,True
244,0,3,male,30.00,0,False,0,7.22,C,Third,man,True,NaN,Cherbourg,no,True,True
245,0,1,male,44.00,2,False,0,90.00,Q,First,man,True,C,Queenstown,no,False,True
246,0,3,female,25.00,0,False,0,7.78,S,Third,woman,False,NaN,Southampton,no,True,True
247,1,2,female,24.00,0,False,2,14.50,S,Second,woman,False,NaN,Southampton,yes,False,True

In [13]:
df1.head()

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,False,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,False,0,53.10,S,First,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,man,True,NaN,Southampton,no,True,True

In [14]:
df1.drop('class', axis=1).head()

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,False,0,71.28,C,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,False,0,7.92,S,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,False,0,53.10,S,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,False,0,8.05,S,man,True,NaN,Southampton,no,True,True

In [15]:
df1.drop('class', 1).head()

TypeError: DataFrame.drop() takes from 1 to 2 positional arguments but 3 were given

In [16]:
df1.drop('class', axis=1).head()

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,who,adult_male,deck,embark_town,alive,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,man,True,NaN,Southampton,no,False,True
1,1,1,female,38.00,1,False,0,71.28,C,woman,False,C,Cherbourg,yes,False,True
2,1,3,female,26.00,0,False,0,7.92,S,woman,False,NaN,Southampton,yes,True,True
3,1,1,female,35.00,1,False,0,53.10,S,woman,False,C,Southampton,yes,False,True
4,0,3,male,35.00,0,False,0,8.05,S,man,True,NaN,Southampton,no,True,True

In [17]:
df1.drop('class', 1).head()

TypeError: DataFrame.drop() takes from 1 to 2 positional arguments but 3 were given

In [18]:
df1.drop(['who', 'deck', 'alive'], axis=1).head()

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,adult_male,embark_town,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,True,Southampton,False,True
1,1,1,female,38.00,1,False,0,71.28,C,First,False,Cherbourg,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,False,Southampton,True,True
3,1,1,female,35.00,1,False,0,53.10,S,First,False,Southampton,False,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,True,Southampton,True,True

In [19]:
df1.drop(['deck', 'alive'], axis=1, inplace=1).head()

ValueError: For argument "inplace" expected type bool, received type int.

In [21]:
df1.drop(['who', 'deck', 'alive'], axis=1, inplace=True)

KeyError: "['who', 'deck', 'alive'] not found in axis"

In [22]:
df1.head()

,survived,pclass,sex,age,sibsp,RICH,parch,fare,embarked,class,adult_male,embark_town,alone,VIP
0,0,3,male,22.00,1,False,0,7.25,S,Third,True,Southampton,False,True
1,1,1,female,38.00,1,False,0,71.28,C,First,False,Cherbourg,False,True
2,1,3,female,26.00,0,False,0,7.92,S,Third,False,Southampton,True,True
3,1,1,female,35.00,1,False,0,53.10,S,First,False,Southampton,False,True
4,0,3,male,35.00,0,False,0,8.05,S,Third,True,Southampton,True,True

In [23]:
df1 = df.copy()

In [24]:
df1['family'] = df1['sibsp'] + df1['parch']
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False,1
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,1
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,0
3,1,1,female,35.00,1,0,53.10,S,First,woman,False,C,Southampton,yes,False,1
4,0,3,male,35.00,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True,0

In [26]:
df1['gender'] = df1['who'] + '-' + df1['sex']
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family,gender
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False,1,man-male
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,1,woman-female
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,0,woman-female
3,1,1,female,35.00,1,0,53.10,S,First,woman,False,C,Southampton,yes,False,1,woman-female
4,0,3,male,35.00,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True,0,man-male

In [27]:
df1['round'] = round(df1['fare']/df1['age'], 2)
df1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family,gender,round
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False,1,man-male,0.33
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False,1,woman-female,1.88
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True,0,woman-female,0.30
3,1,1,female,35.00,1,0,53.10,S,First,woman,False,C,Southampton,yes,False,1,woman-female,1.52
4,0,3,male,35.00,0,0,8.05,S,Third,man,True,NaN,Southampton,no,True,0,man-male,0.23

In [28]:
df1.loc[df1['age'].isnull(), ['fare', 'age', 'round']].head()

    fare  age  round
5   8.46  NaN    NaN
17 13.00  NaN    NaN
19  7.22  NaN    NaN
26  7.22  NaN    NaN
28  7.88  NaN    NaN

In [29]:
df1 = df.copy()
df1.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [31]:
df1['who'].head()

0      man
1    woman
2    woman
3    woman
4      man
Name: who, dtype: object

In [32]:
df1['who'].astype('category').head()

0      man
1    woman
2    woman
3    woman
4      man
Name: who, dtype: category
Categories (3, object): ['child', 'man', 'woman']

In [33]:
df1['who'] = df1['who'].astype('category')

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    category
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(3), float64(2), int64(4), object(4)
memory usage: 74.7+ KB

In [35]:
df1['who'].cat.categories

Index(['child', 'man', 'woman'], dtype='object')

In [39]:
df1['who'].value_counts()

who
man      537
woman    271
child     83
Name: count, dtype: int64

In [41]:
# 연습문제
sample = sns.load_dataset('titanic')
sample.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.00,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.00,1,0,71.28,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.00,0,0,7.92,S,Third,woman,False,NaN,Southampton,yes,True