In [2]:
from IPython.display import Image
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [4]:
df.describe(include='object')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

In [5]:
df.count()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [6]:
df['age'].count()

714

In [44]:
df.mean()

TypeError: can only concatenate str (not "int") to str

In [8]:
df['age'].mean()

29.69911764705882

In [9]:
condition = (df['adult_male'] == True)
df.loc[condition, 'age'].mean()

33.17312348668281

In [10]:
# 연습문제
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [11]:
# fare를 30 이상 40 미만 지불한 승객
# pcalss는 1등급인 승객의 나이 평균과 데이터 갯수
cond1 = (df['fare']>=30) & (df['fare']<40) & (df['pclass'] == 1)
df.loc[cond1, 'age'].count()

21

In [12]:
df.loc[cond1, 'age'].mean()

44.095238095238095

In [22]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [41]:
df.mean(skipna=False)

TypeError: can only concatenate str (not "float") to str

In [43]:
df.mean()

TypeError: can only concatenate str (not "int") to str

In [29]:
pd.Series([1,2,3,4,5]).median()

3.0

In [31]:
pd.Series([1,2,3,4,5,6]).median()

3.5

In [32]:
pd.Series([5,1,2,4,3]).median()

3.0

In [37]:
print(f"나이 평균: {df['age'].mean():.5f}\n나이 중앙값: {df['age'].median()}\n차이: {df['age'].mean()-df['age'].median():.5f}")

나이 평균: 29.69912
나이 중앙값: 28.0
차이: 1.69912

In [39]:
df.loc[:, ['age', 'fare']].sum()

age     21205.1700
fare    28693.9493
dtype: float64

In [40]:
df['fare'].sum()

28693.9493

In [45]:
df['age'].cumsum()

0         22.00
1         60.00
2         86.00
3        121.00
4        156.00
         ...
886    21128.17
887    21147.17
888         NaN
889    21173.17
890    21205.17
Name: age, Length: 891, dtype: float64

In [46]:
df['age'].cumprod()

0            22.0
1           836.0
2         21736.0
3        760760.0
4      26626600.0
          ...
886           inf
887           inf
888           NaN
889           inf
890           inf
Name: age, Length: 891, dtype: float64

In [48]:
# 평균
fare_mean = df['fare'].values.mean()

# 분산
my_var = ((df['fare'].values - fare_mean)**2).sum() / (df['fare'].count() -1)
my_var

2469.436845743116

In [49]:
df['fare'].var()

2469.436845743116

In [50]:
np.sqrt(df['fare'].var())

49.6934285971809

In [51]:
df['fare'].std()

49.6934285971809

In [52]:
df['age'].min()

0.42

In [53]:
df['age'].max()

80.0

In [54]:
df['age'].agg(['min', 'max', 'count', 'mean'])

min        0.420000
max       80.000000
count    714.000000
mean      29.699118
Name: age, dtype: float64

In [55]:
df[['age', 'fare']].agg(['min', 'max', 'count', 'mean'])

              age        fare
min      0.420000    0.000000
max     80.000000  512.329200
count  714.000000  891.000000
mean    29.699118   32.204208

In [56]:
# 연습문제
diamond = sns.load_dataset('diamonds')
diamond

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [57]:
diamond['depth'].min()

43.0

In [58]:
diamond['carat'].agg(['mean', 'var'])

mean    0.797940
var     0.224687
Name: carat, dtype: float64

In [59]:
diamond[['x', 'y']].agg(['sum', 'std'])

                 x              y
sum  309138.620000  309320.330000
std       1.121761       1.142135

In [3]:
df = sns.load_dataset('titanic')

In [4]:
df['age'].quantile(0.1)

14.0

In [5]:
df['age'].quantile(0.8)

41.0

In [6]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [7]:
df['who'].nunique()

3

In [8]:
df['who'].mode()

0    man
Name: who, dtype: object

In [10]:
df['deck'].mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [11]:
# 연습문제
penguin = sns.load_dataset('penguins')
penguin

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [12]:
# species 칼럼의 고유값
penguin['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [13]:
# island 칼럼의 최빈값
penguin['island'].mode()

0    Biscoe
Name: island, dtype: object

In [14]:
# body_mass_g 칼럽의 10% 분위수 값(하위 10%)을 출력해 주세요.
penguin['body_mass_g'].quantile(0.1)

3300.0

In [15]:
# 80% 분위수(상위 20%)
penguin['body_mass_g'].quantile(0.8)

4950.0

In [16]:
df.corr()

ValueError: could not convert string to float: 'male'

In [17]:
df.corr()['survived']

ValueError: could not convert string to float: 'male'