In [1]:
import pandas as pd

data = {'survived': [1,0,1], 'age': [22, 28, 38]}
df = pd.DataFrame(data)

type_1 = type(df['survived'])
print(type_1)

type_2 = type(df['survived'])
print(type_2)

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [2]:
from IPython.display import Image

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings

# 경고 무시
warnings.filterwarnings('ignore')

In [4]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [5]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
df['who'].value_counts()

who
man      537
woman    271
child     83
Name: count, dtype: int64

In [7]:
def transform_who(x):
    if x == 'man': return '남자'
    elif x == 'woman': return '여자'
    else: return '아이'

In [8]:
df['who'].apply(transform_who)

0      남자
1      여자
2      여자
3      여자
4      남자
       ..
886    남자
887    여자
888    여자
889    남자
890    남자
Name: who, Length: 891, dtype: object

In [9]:
df['who'].apply(transform_who).value_counts()

who
남자    537
여자    271
아이     83
Name: count, dtype: int64

In [10]:
def transform_who(x):
    return x['fare'] / x['age']

In [11]:
df.apply(transform_who, axis=1)

0      0.329545
1      1.875876
2      0.304808
3      1.517143
4      0.230000
         ...
886    0.481481
887    1.578947
888         NaN
889    1.153846
890    0.242188
Length: 891, dtype: float64

In [12]:
df['survived'].value_counts()

survived
0    549
1    342
Name: count, dtype: int64

In [13]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [14]:
df['survived'].apply(lambda x: '생존' if x==1 else '사망')

0      사망
1      생존
2      생존
3      생존
4      사망
       ..
886    사망
887    생존
888    사망
889    생존
890    사망
Name: survived, Length: 891, dtype: object

In [15]:
df['survived'].apply(lambda x: '생존' if x == 1 else '사망').value_counts()

survived
사망    549
생존    342
Name: count, dtype: int64

In [16]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [17]:
df.groupby('sex').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [18]:
df.groupby(['sex', 'pclass']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [19]:
df.groupby(['sex', 'pclass'])['survived'].mean()

sex     pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: survived, dtype: float64

In [20]:
pd.DataFrame(df.groupby(['sex', 'pclass'])['survived'].mean())

               survived
sex    pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447

In [21]:
df.groupby(['sex','pclass'])[['survived']].mean()

               survived
sex    pclass
female 1       0.968085
       2       0.921053
       3       0.500000
male   1       0.368852
       2       0.157407
       3       0.135447

In [23]:
df.groupby(['sex', 'pclass'])['survived'].mean().reset_index()

      sex  pclass  survived
0  female       1  0.968085
1  female       2  0.921053
2  female       3  0.500000
3    male       1  0.368852
4    male       2  0.157407
5    male       3  0.135447

In [24]:
df.groupby(['sex', 'pclass'])[['survived', 'age']].mean()

               survived        age
sex    pclass
female 1       0.968085  34.611765
       2       0.921053  28.722973
       3       0.500000  21.750000
male   1       0.368852  41.281386
       2       0.157407  30.740707
       3       0.135447  26.507589

In [25]:
df.groupby(['sex', 'pclass'])[['survived', 'age']].agg(['mean', 'sum'])

               survived            age
                   mean sum       mean      sum
sex    pclass
female 1       0.968085  91  34.611765  2942.00
       2       0.921053  70  28.722973  2125.50
       3       0.500000  72  21.750000  2218.50
male   1       0.368852  45  41.281386  4169.42
       2       0.157407  17  30.740707  3043.33
       3       0.135447  47  26.507589  6706.42

In [26]:
sample = df.copy()

In [30]:
sample.groupby(['sex'])['age'].apply(lambda x: x.fillna(x.mean()))

sex
female  1      38.0
        2      26.0
        3      35.0
        8      27.0
        9      14.0
               ...
male    883    28.0
        884    25.0
        886    27.0
        889    26.0
        890    32.0
Name: age, Length: 891, dtype: float64

In [28]:
sample['age'].isnull().sum()

177

In [32]:
sample['age'] = sample.groupby(['sex'])['age'].apply(lambda x: x.fillna(x.mean()))

TypeError: incompatible index of inserted column with frame index

In [33]:
df.pivot_table(index='who', values='survived')

       survived
who
child  0.590361
man    0.163873
woman  0.756458

In [35]:
df.pivot_table(columns='who', values='survived')

who          child       man     woman
survived  0.590361  0.163873  0.756458

In [37]:
df.pivot_table(index=['who', 'pclass'], values='survived')

              survived
who   pclass
child 1       0.833333
      2       1.000000
      3       0.431034
man   1       0.352941
      2       0.080808
      3       0.119122
woman 1       0.978022
      2       0.909091
      3       0.491228

In [38]:
df.pivot_table(index='who', columns='pclass', values='survived')

pclass         1         2         3
who
child   0.833333  1.000000  0.431034
man     0.352941  0.080808  0.119122
woman   0.978022  0.909091  0.491228

In [39]:
df.pivot_table(index='who', columns='pclass', values='survived', aggfunc=['sum', 'mean'])

       sum              mean
pclass   1   2   3         1         2         3
who
child    5  19  25  0.833333  1.000000  0.431034
man     42   8  38  0.352941  0.080808  0.119122
woman   89  60  56  0.978022  0.909091  0.491228

In [40]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [43]:
tips.pivot_table(index='smoker', columns='day', values='tip')

day         Thur     Fri       Sat       Sun
smoker
Yes     3.030000  2.7140  2.875476  3.516842
No      2.673778  2.8125  3.102889  3.167895